<div class="l-user-form-container">

  <%= form_for(user, html: {class: "c-user-form"}) do |f| %>

    <%= render 'shared/errors', object: user %>

    <%= f.label :username, class: "c-user-form__label--username" %>
    <%= f.text_field :username, placeholder: "username", class: "c-user-form__field--username" %>
    <%= f.label :email, class: "c-user-form__label--email" %>
    <%= f.email_field :email, placeholder: "email", class: "c-user-form__field--email" %>
    <%= f.label :password, class: "c-user-form__label--password" %>
    <%= f.password_field :password, placeholder: "password", class: "c-user-form__field--password" %>
    <%= f.label :password_confirmation, class: "c-user-form__label--pass-conf" %>
    <%= f.password_field :password_confirmation, placeholder: "confirm password", class: "c-user-form__field--pass-conf" %>
    <%= f.submit %>
  <% end %>
</div>

