
<%= form_for(user, html: {class: "c-user-form o-form"}) do |f| %>

  <%= render 'shared/errors', object: user %>
  <div>
    <%= f.label :username %>
  </div>
  <div>
    <%= f.text_field :username, class: "o-form__field--text-field" %>
  </div>
  <div>
    <%= f.label :email %>
  </div>
  <div>
    <%= f.email_field :email, class: "o-form__field--text-field" %>
  </div>
  <div>
    <%= f.label :password %>
  </div>
  <div>
    <%= f.password_field :password, class: "o-form__field--text-field" %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
  </div>
  <div>
    <%= f.password_field :password_confirmation, class: "o-form__field--text-field" %>
  </div>
  <div>
    <%= f.submit "Create Account", class: "o-form__btn--submit" %>
  <div>

<% end %>

