<%= provide(:page_title, 'All users') %>

<%= will_paginate @users %>

<div class="l-users-container">
  <% @users.each do |user| %>

    <div class="c-user">

      <div class="c-user__avatar">
        <%= link_to(user) do %>
          <%= image_tag avatar_url(user) %>
        <% end %>
      </div>

      <div class="c-user__username">
        <%= link_to(user) do %>
          <%= user.username %>
        <% end %>
      </div>

      <div class="c-user__posts">
        <small><%= pluralize(user.posts.count, "post") if user.posts %></small>
      </div>

    </div>

  <% end %>
</div>

<%= will_paginate @users %>