<h1 align="center"><%= (@user.username).capitalize %>'s Profile </h1><hr>


<div class="row">
  <div class="author-biography">
    <h6><%= @user.username %></h6>
    <h4><%= @user.email %></h4>
    <p><%= image_tag avatar_url(@user) %></p>
  </div>
</div>

<h4 align="center"><%= @user.username%>'s Posts </h4>

<div class="container pagination justify-content-center" >
  <%= will_paginate @user_posts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>

<div class="row">
  <%= render 'posts/post', post: @user_posts %>
</div>

<div class="container pagination justify-content-center" >
  <%= will_paginate @user_posts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>