<tr>
  <td class="c-posts-table__body--title">
    <%= link_to(post) do %>
      <%= post.title %>
    <% end %>
  </td>
  <td class="c-posts-table__body--date-posted">
    <%= time_ago_in_words(post.created_at) %>
  </td>
  <td class="c-posts-table__body--author">
    <%= post.user.username %>
  </td>
  <td class="o-btn o-btn__btn--blue">
    <%= link_to 'Edit', edit_admin_post_path(post) %>
  </td>
  <td class="o-btn o-btn__btn--pink">
    <%= link_to 'Remove', admin_post_path(post), method: :delete,
    data: { confirm: 'Are you absolutely sure you want to delete?'} %>
  </td>
<tr>

