<%= provide(:page_title, 'All Posts') %>

<h1>All Posts</h1>

<%= will_paginate @posts %>

<table class="c-posts-table">
  <thead>
    <tr>
      <th class="c-posts-table__head--title">Title</th>
      <th class="c-posts-table__head--date-posted">Posted</th>
      <th class="c-posts-table__head--author">Author</th>
      <th class="o-btn o-btn__btn--green ">
        <%= link_to "Create", new_admin_post_path %>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @posts %>
</table>

<%= will_paginate @posts %>

