<% if @posts.exists? %>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Post Status</th>
        <th>Actions</th>
        <th>Publish/Unpublish</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <%= link_to post.title, admin_post_path(post)  %>
          </td>
          <td>
            <%= post.status %>
          </td>
          <td>
            <%= link_to edit_admin_post_path(post), data: { behavior: 'edit'} do %>
              <i class="fa fa-edit" style="color: #AA05A5"></i>
            <% end %>
            <%= link_to admin_post_path(post), method: :delete, data: {confirm: 'Are you sure?', behavior: 'delete'} do %>
              <i class="fa fa-trash" style="color: #032C61"></i>
            <% end %>
          </td>
          <td>
            <%= link_to "Publish", publish_admin_post_path(post), method: :patch %>
              <i class="fas fa-caret-square-up" style="color: "></i>
            <%= link_to "Draft", unpublish_admin_post_path(post), method: :patch %>
              <i class="fas fa-caret-square-down" style="color: "></i>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are currently no posts to display. Why not try <%= link_to 'adding', new_admin_post_path %> one?</p>
<% end %>