<%= provide(:page_title, @post.title) %>

<h1 align="center"><%= (@post.title).capitalize %> </h1>
<hr>

<div class="row">
  <div class="col-md-1 col-lg-2"></div>
  <div class="col-md-10 col-lg-8 text-xs-center">
    <p><h6>Published <%= time_ago_in_words(@post.created_at) %> ago</h6></P>
    <p><strong><%= @post.description.html_safe%></strong><p>
    <p><%= @post.body.html_safe %><p>
    <div class="author-biography">
      <p><%= gravatar_for(@post.user.username) %></p>
      <h6><%= @post.user.username %></h6>
      <h4><%= @post.user.email %></h4>
    </div>
    <div>
      <h6>This will contain comments functionality.</h6>
    </div>
  </div>
</div>


