<%= provide(:page_title, @post.title) %>

<div class="c-show-post">
  <div class=c-show-post__title>
    <h1><%= @post.title %></h1>
  </div>
  <div class="c-show-post__date-published">
    <h5>Published <%= time_ago_in_words(@post.created_at) %> ago</h5><hr>
  </div>
  <div class=c-show-post__description>
    <h3>Description</h3>
    <p><%= @post.description.html_safe%></p>
  </div>
  <div class="c-show-post__body">
    <h3>Main content</h3>
    <p><%= @post.body.html_safe %></p>
  </div>
  <div class="c-show-post__author">
    <h6 class="c-show-post__author-username"> <%= @post.user.username %> </h6>
    <h4 class="c-show-post__author-email"> <%= @post.user.email %> </h4>
    <section class="c-show-post__author-avatar"> <%= image_tag avatar_url(@post.user) %> </section>
  </div>
</div>




