<%= provide(:page_title, 'All Users') %>

<h1>All Users</h1><hr>

<%= will_paginate @users %>

<table class="c-users-table">
  <tr>
    <th class="c-users-table__head--username">Users Name</th>
    <th class="c-users-table__head--date-created">Date Created</th>
    <th class="o-btn o-btn__btn--green">
      <%= link_to "Create", signup_path %>
    </th>
  </tr>
  <%= render @users %>
</table>

<%= will_paginate @users %>