<%= provide(:page_title, 'All Users') %>

<h1 class="heading">All Users</h1><hr>

<div class="container pagination justify-content-center" >
  <%= will_paginate @users, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>

<div class="row">
  <div>
    <%= link_to "New user", signup_path, class: 'btn btn-secondary btn-sm' %>
  </div>
  <table class="table">
    <tr>
      <th colspan="4">Title</th>
    </tr>
    <%= render @users %>
  </table>
</div>

<div class="container pagination justify-content-center" >
  <%= will_paginate @users, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>