<%= provide(:page_title, 'All Users') %>

<h1 class="heading">All Users</h1><hr>

<%= will_paginate @users %>

<div class="row">
  <div>
    <%= link_to "New user", signup_path, class: 'btn btn-secondary btn-sm' %>
  </div>
  <table class="table">
    <tr>
      <th colspan="4">Title</th>
    </tr>
    <%= render @users %>
  </table>
</div>

<%= will_paginate @users %>