<div class="c-nav c-nav__background">
  <a href="#" class="c-nav__toggle" data-attribute="navHamburger">
    <i class="fas fa-bars"></i>
  </a>
  <%= link_to 'TBlog', posts_path, class: "c-nav__logo" %>

  <div class="c-nav__left-menu">
    <%= link_to 'Posts', posts_path, class: "c-nav__menu-item" %>
    <%= link_to 'Bloggers', users_path, class: "c-nav__menu-item" %>
    <%= link_to 'Contact', contact_path, class: "c-nav__menu-item" %>
  </div>

  <div class="c-nav__right-menu">
    <%= link_to 'All Posts', admin_posts_path, class: "c-nav__menu-item" %>
    <%= link_to 'All Users', admin_users_path, class: "c-nav__menu-item" %>
    <%= link_to 'Sign up', signup_path, class: "c-nav__menu-item" %>
  </div>
</div>

<%= render "layouts/banner" %>