<!DOCTYPE html>
<html>

<head>
  <title>
    <%= yield(:page_title) %> | Tony's Blog
  </title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
  <%= favicon_link_tag 'myicon.png' %>
  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true %>

  <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.0.13/css/all.css",
    media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'admin/application', 'data-turbolinks-track': 'reload' %>

</head>
<body>
  <%= render "shared/admin_navbar" %>
  <div class="container">
    <%= render "shared/notice_messages" %>
  </div>
  <%= yield %>
</body>

</html>